/* Project CSS 
============================================================
============================================================*/
body{
    text-align: center;
    margin: 30px;
}

/* HEADER ============================== */

/* ABOUT ============================== */

/* COMPONENTS ============================== */
.Comp1{
    background-color:yellow;
}