/* Project CSS 
============================================================
============================================================*/
body{
    text-align: center;
    margin: 30px;
}

/* HEADER ============================== */
.Me{
    float: left;
}
/* ABOUT ============================== */
.about{

}

/* COMPONENTS ============================== */
.Comp4{
    background-color: yellow;
}