<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<footer class="content">
	<img src="logo.png" alt="logo"/>

	<div class="wrapper">

		<p> Digital Printing &copy 2016. Privacy Policy</p>

		<p>9863-9867 Mill Road,
		Cambridge, MG09 99HT
		Freephone: +1 800 559 6580
		Fax: +1 800 599 6580</p>

		<form>
			<input type="text" value="Signup for mail">
			<input type="submit" value="OK">
		</form>

	</div>

</footer>
	<!-- End Component -->
	
</body>
</html>