<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
	
</head>
<body>

	<!-- Component -->
<footer class="content">
	<img src="logo.png" alt="logo"/>

		<article class="below">
			Digital Printing &copy 2016. Privacy Policy
		</article>

		<article class="right">
			9863-9867 Mill Road,<br>
			Cambridge, MG09 99HT<br>
			Freephone: +1 800 559 6580<br>
			Fax: +1 800 599 6580
		</article>

		<form>
			<input type="text" value="Signup for mail">
			<input type="submit" value="OK">
		</form>


</footer>
	<!-- End Component -->
	
</body>
</html>