/* Component Stylesheet 
============================================================
============================================================*/
body {

    max-width:1700px;

    color: lightgrey;

}

footer {

    background-color: #191919;

    max-width:1700px;

    margin:auto;

    padding: 50px;

    font-family: 'Hind', sans-serif;

    font-weight: normal;

    overflow: auto;

}

img {

    width: 20%;

}

article.below {

    width: 33%;

}

article.right {

    float: right;

    text-align: left;

    width: 33%;

}

form {

    float: right;

    width: 33%;

}