/* Component Stylesheet 
============================================================
============================================================*/
body {

    max-width:1700px;

    color: lightgrey;

}

footer {

    background-color: #191919;

    max-width:1700px;

    margin:auto;

    padding: 50px;

    font-family: 'Hind', sans-serif;

    font-weight: normal;

    overflow: auto;

}

li {

    display:inline-block;


}

li.Policy {

    margin-left: 40px;

    margin-bottom: 10px;

    vertical-align: text-top;

}

li.address {

    margin-left: 500px;
}

li.form {

    margin-left: 200px;

}

img {

    width: 20%;

    margin-top: 20px;

}

input[type=submit] {

    background-color: transparent;

    color: lightgrey;

    font-size: 45px;
}

input[type=text] {
    border-style: solid;

    border-width: 1px;

    border-left: none;

    border-right: none;

    border-top: none;

    border-color: red;

    background-color: transparent;

    color: lightgrey;



}

