<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Janay Peters</title>

	<!-- <link rel="stylesheet" type="text/css" href="../../css/reset.css" /> -->
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Tienne:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Neuton:200' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
	<header>
<img src="musicportal.png" alt="logo"/>
<h1>Music Portal</h1>
<h2>We Open The New Music For You</h2>
	</header>
		<nav>
			<ul>
				<li class="home">
					<a href>Home</a>
				</li>

				<li class="music">
					<a href>Music</a>
						<ul>
							<li>
								<a href>Pop</a>
							</li>
							<li>
								<a href>Hip-Hop</a>
							</li>
							<li>
								<a href>Alternative</a>
							</li>
							<li>
								<a href>Reggae</a>
							</li>
							<li>
								<a href>Latin</a>
							</li>
						</ul>
				</li>

				<li class="listen">
					<a href>Listen</a>
					<ul>
						<li>
							<a href>Pop</a>
						</li>
						<li>
							<a href>Hip-Hop</a>
						</li>
						<li>
							<a href>Alternative</a>
						</li>
						<li>
							<a href>Reggae</a>
						</li>
						<li>
							<a href>Latin</a>
						</li>
					</ul>
				</li>

				<li class="charts">
					<a href>Charts</a>
					<ul>
						<li>
							<a href>Pop</a>
						</li>
						<li>
							<a href>Hip-Hop</a>
						</li>
						<li>
							<a href>Alternative</a>
						</li>
						<li>
							<a href>Reggae</a>
						</li>
						<li>
							<a href>Latin</a>
						</li>
					</ul>
				</li>

				<li class="events">
					<a href>Events</a>
					<ul>
						<li>
							<a href>Pop</a>
						</li>
						<li>
							<a href>Hip-Hop</a>
						</li>
						<li>
							<a href>Alternative</a>
						</li>
						<li>
							<a href>Reggae</a>
						</li>
						<li>
							<a href>Latin</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	<!-- End Component -->
	
</body>
</html>