<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Janay Peters</title>

	<!-- <link rel="stylesheet" type="text/css" href="../../css/reset.css" /> -->
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Tienne:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Neuton:200' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Component -->
	<header>
<img src="musicportal.png" alt="logo"/>
<h1>MUSIC PORTAL</h1>
<h2>WE OPEN THE NEW MUSIC FOR YOU</h2>
	</header>
		<nav>
			<a href="component.html">HOME</a> |
			<a href="/css/">MUSIC</a> |
			<a href="/js/">LISTEN</a> |
			<a href="/jquery/">CHARTS</a>|
			<a href="/..">EVENTS</a>
		</nav>
	<!-- End Component -->
	
</body>
</html>