/* Component Stylesheet 
============================================================
============================================================*/
body{
    max-width:1440px;
    text-align:center;
    text-transform: uppercase
}

h1{
    font-size: 300%;
    margin-bottom: 0;
    font-family: 'Tienne', serif

}
h2{
    margin-top:0;
    font-family: 'Neuton', serif;
    letter-spacing:5px;
    font-size: 100%
}

img{
    margin:0 auto;
    width: 100%;
}

nav{
    margin-top: 80px;
}

nav li{
    display: inline;
    position:relative;
}

ul li {
    position:relative;
}

ul, li {
    margin:0;
    padding:0;
}

li {
    display:inline-block;
    padding:10px 10px;
}

ul li ul {
    display:none;
    position:absolute;
    top:45px;
    left:0;
}

ul li ul li {
    display:block;
}

ul li:hover {
    text-shadow: none;
    color:lightgray;
}

ul li:hover ul {
    display:block;
}

.home{
    color: lightgray;
    border:thin;
    border-style: solid;
    border-left: none;
    border-right-width:1px;
    border-top: none;
    border-bottom: none;
    border-color: lightgrey;
}

.music, .listen, .charts{
    border: thin;
    border-style: solid;
    border-left-width: 1px;
    border-right-width:1px;
    border-top: none;
    border-bottom: none;
    border-color: lightgray;
}


.events{
    border: thin;
    border-style: solid;
    border-left-width: 1px;
    border-right: none;
    border-top: none;
    border-bottom: none;;
    border-color: lightgrey;
}

a{
    margin:40px;
    letter-spacing:2px;
    text-decoration: none;
    color: black;

}

