/* Component Stylesheet 
============================================================
============================================================*/
body{
    max-width:1440px;
    text-align:center;
    text-transform: uppercase
}

h1{
    font-size: 300%;
    margin-bottom: 0;
    font-family: 'Tienne', serif

}
h2{
    margin-top:0;
    font-family: 'Neuton', serif;
    letter-spacing:5px;
    font-size: 100%
}

img{
    margin:0 auto;
    width: 100%;
}

nav{
    margin-top: 80px;
}

nav li{
    display: inline;
    position:relative;
}

ul{
    padding:0;
    margin:0;
}


ul ul{
    position:absolute;
    display:none;
}

li:hover ul {
    display: block;
}

nav li a{
    padding: 0.25rem 1.5rem;
    font-weight: 600;
}

li.home{
    border: thin;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right-width:3px;
    border-color: black;
}

li.music{
    border: thin;
    border-style: solid;
    border-left-width: 3px;
    border-right-width:3px;
    border-top: none;
    border-bottom: none;
    border-color: black;
}

li.listen{
    border: thin;
    border-style: solid;
    border-left-width: 3px;
    border-right-width:3px;
    border-top: none;
    border-bottom: none;
    border-color: black;
}

li.charts{
    border: thin;
    border-style: solid;
    border-left-width: 3px;
    border-right-width:3px;
    border-top: none;
    border-bottom: none;
    border-color: black;
}

li.events{
    border: thin;
    border-style: solid;
    border-left-width: 3px;
    border-right: none;
    border-top: none;
    border-bottom: none;;
    border-color: black;
}

a{
    margin:40px;
    letter-spacing:2px;
    text-decoration: none;
    color: lightgrey

}

/* unvisited link */
a:link {
    color: black;
}

/* mouse over link */
a:visited {
    color: lightgrey;
}

/* mouse over link */
a:hover {
    color: lightgrey;
}

/* selected link */
a:active {
    color: black;
}