<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<img src="Testimonial Pagination.png" alt="Testimonial"/>

	<h1>What I plan to learn</h1>
	I plan to learn how to align my arrows, images, and text in there correct places. I know that I will still use Float and inline tags.
	I really love to see testimonials on a website because it really sends a good message to the users or potential buyers.
	<!-- End Component -->
	
</body>
</html>