/* Component Stylesheet 
============================================================
============================================================*/

body{
    background-color: #f3f3f3;
    max-width: 1442px;
}

ul{

    list-style-type: none;
}

p.quote{
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
}

p.author{
    font-family: 'Roboto', sans-serif;
    line-height: 400%;
    margin-left: 10px;
    color: #e8503e;
}

li.left_arrow, li.right_arrow{
    float:left;
    margin-top: 80px;
}

li.symbol{
    float:left;
    margin-left: 150px;
}

li.description{
    float:left;
    margin-top: 40px;
    margin-right: 150px
}




