<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<img src="Our Creators.png" alt="Our Creators"/>

	<h1>What I hope to learn</h1>
	This component is similar to the last. I hope to be able to create this as and feel confident that I have done it correctly, but also know
	what I want to do before drawing up any code.
	<!-- End Component -->
	
</body>
</html>