<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3: Janay Peters</title>

	<!-- <link rel="stylesheet" type="text/css" href="../../css/reset.css" /> -->
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Component -->
<section>
	<header>
		<h1>Meet Our </br> Team</h1>
	</header>

	<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer
	adipiscing elit. Pellentesque sed dolor. </br> Aliquam congue fermentum nisl.
	Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.</p>

		<article class="img">
			<h2>John Anderson</h2>
			<img src="john.png" alt="1"/>
		</article>

		<article class="img2">
			<h2>Mark Johnson</h2>
			<img src="mark.png" alt="2"/>
		</article>

		<article class="img3">
			<h2>Bradley Grosh</h2>
			<img src="brad.png" alt="3"/>
		</article>

		<article class="img4">
			<h2>Anete Puga</h2>
			<img src="puga.png" alt="4"/>
		</article>

</section>
	<!-- End Component -->
	
</body>
</html>