<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3: Janay Peters</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
<img src="Our Creators.png" alt="Our Creators"/>

	<h1>What I hope to learn</h1>
	This component is similar to the last. I hope to be able to create this and feel confident that I have done it correctly, but also know
	what I how to do it before drawing up any code.

	<h1>How I feel this relates to what I have learned</h1>
	I feel that this relates to many of the issues that I have when it comes to coding. Creating a section that shows "Our creators"
	allows the user to get a feel of who created this page and all about who they are. I like seeing these things on websites because it's interesting
	to see other developers background.
	<!-- End Component -->
	
</body>
</html>