/* Component Stylesheet 
============================================================
============================================================*/

body{
    background-color:#f5cc5d;
    color:white;
    max-width:1600px;
}

h1{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: normal;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
}

button{
    border-radius: 8px;
    font-size: 16px;
    background-color: #f5cc5d;
    border: 2px solid white;
    color: white;
}

p{
    width: 40%;

}

img{
    width: 100px;
}

ul{
    list-style-type:none;
    margin-left: 180px;
    margin-right: 20px;
}

li.page{
    margin: 30px;
    float:left;
    width: 250px;
}

li.pulse{
    margin: 30px;
    float:left;
    width: 250px;
}

li.clock{
    margin: 30px;
    float:left;
    width: 250px;
}

li.refresh{
    margin: 30px;
    float:left;
    width: 250px;
}
