<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 2: Janay Peters</title>

	<!-- <link rel="stylesheet" type="text/css" href="../../css/reset.css" /> -->
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Component -->
	<section id="about">
<h1>main services</h1>
	<article class="page">
		<img src="page.png" alt="page"/>
		<h2>Marius fermeum</h2>
		<p>Aenean aucto wisi et umvolutpatsac turpis. Integertrum ante eu
			lacues tibulum libe.</p>
		<button type="button">Read More</button>
	</article>
	<article class="pulse">
		<img src="beat.png" alt="page"/>
		<h2>Marius fermeum</h2>
		<p>Aenean aucto wisi et umvolutpatsac turpis. Integertrum ante eu
			lacues tibulum libe.</p>
		<button type="button">Read More</button>
	</article>
	<article class="clock">
		<img src="clock.png" alt="page"/>
		<h2>Marius fermeum</h2>
		<p>Aenean aucto wisi et umvolutpatsac turpis. Integertrum ante eu
			lacues tibulum libe.</p>
		<button type="button">Read More</button>
	</article>
	<article class="refresh">
		<img src="refresh.png" alt="page"/>
		<h2>Marius fermeum</h2>
		<p>Aenean aucto wisi et umvolutpatsac turpis. Integertrum ante eu
			lacues tibulum libe.</p>
		<button type="button">Read More</button>
	</article>
	</section>
	<!-- End Component -->
	
</body>
</html>